:root {
  --globalFont: "Inter";
  --globalFontColor: #3f3f52;

  --helloFont: "Source Code Pro";
  --helloColor: #9898cb;

  --logoFont: "Source Code Pro";
  --logoFontColor: #3f3f52e5;

  --boxBGColor: 255, 255, 255;
  --boxBorderRadius: 16px;

  --navFontColor: #34384d;
  --selectionColor: #ffeedb;
  --linkUnderlineColor: #ffeedb;

  --gradient: 95deg, #e1dcf9 0%, #ffeedb 100%;
  --gradientTranslucent: 95deg, #e1dcf933 0%, #ffeedb33 100%;

  --sb-track-color: #ffeedb;
  --sb-thumb-color: #3c3c5e44;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

noscript {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1rem;
  color: var(--globalFontColor);
  margin: 0 1rem;
  padding: 2rem;
  pointer-events: none;
  user-select: none;
  max-width: 800px;
}

html {
  margin: 0 auto;
  height: fit-content;
  min-height: 100%;
  min-width: fit-content;
  background: #d6e4fc;
  background: repeat-y url(images/wave.svg) top left, -moz-linear-gradient(var(--gradient));
  background: repeat-y url(images/wave.svg) top left, -webkit-linear-gradient(var(--gradient));
  background: repeat-y url(images/wave.svg) top left, linear-gradient(var(--gradient));
  scroll-behavior: smooth;
  background-size: 65%, 100%;
  background-attachment: fixed, fixed;
  cursor: default;
}

#content,
input,
textarea,
button,
p,
span {
  font-family: var(--globalFont);
  color: var(--globalFontColor);
  font-size: 0.9rem;
  font-weight: 400;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--globalFont);
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  -webkit-text-size-adjust: none; /* stops mobile browser from scaling text on landscape */
  text-size-adjust: none; /* stops mobile browser from scaling text on landscape */
}

#content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 3rem;
  margin: 0 auto;
  padding: 2rem 0;
  width: clamp(20rem, 90vw, 50rem);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#content > header,
section,
footer {
  opacity: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 1rem;
  padding: 2.2rem;
  border-radius: var(--boxBorderRadius);
  background-color: rgba(var(--boxBGColor), 0.85);
  box-shadow: 0px 3px 12px -8px rgba(28, 28, 77, 0.14);
  & p {
    margin-top: 0;
  }
}

/*-------------headings-------------*/
h2 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 800;
  font-family: var(--helloFont);
  color: var(--helloColor);
  letter-spacing: -0.05rem;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

/*-------------header-------------*/
#content #header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1.2rem;
  border-radius: calc(var(--boxBorderRadius) - 4px);
  overflow: visible;
}

#logo {
  font-weight: 800;
  color: var(--logoFontColor);
  font-size: clamp(1rem, 0.8056rem + 1.1111vw, 1.5rem);
  user-select: none;
  font-family: var(--logoFont);
  padding: 0.5rem;
}

#hamburguer {
  width: fit-content;
  height: fit-content;
}

#hamburguer button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.7em;
  transition: 200ms ease-in-out 50ms;
  border-radius: 100px;
}

#hamburguer button:hover {
  background-color: #ffedce;
}

#icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#icon span {
  border: 1px solid #34384d;
  box-sizing: border-box;
  width: 20px;
  background: #34384d;
}

#overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  position: fixed;
  background-color: #9289b67e;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  z-index: 1000;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: 250ms ease-in-out;
}

#navigationList {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 340px;
  height: fit-content;
  text-align: center;
  list-style: none;
  padding-inline-start: 0;
  padding: 0.6rem;
  gap: 0.7rem;
  border-radius: var(--boxBorderRadius);

  transition: 400ms ease-in-out;
  & li {
    margin: 0;
    padding: 0;
  }
  & li a {
    display: block;
    box-sizing: border-box;
    padding: 1.5rem;
    font-size: 1rem;
    text-decoration: none;
    transition: 200ms ease-in-out;
    color: var(--globalFontColor);
    border-radius: calc(var(--boxBorderRadius) - 8px);
    background-color: rgba(var(--boxBGColor), 0.6);
    box-shadow: 0px 3px 10px -8px rgba(25, 18, 58, 0.2);
  }
  & li a:hover {
    background-color: rgba(var(--boxBGColor), 1);
    transform: scale(0.99);
  }
}

a,
a:visited {
  color: var(--globalFontColor);
  text-decoration: none;
}

/*-------------hello-------------*/

#hello {
  padding: 0;
  box-shadow: none;
  background: transparent url(images/sparkles.svg);
  background-size: 0%;
  background-repeat: no-repeat;
  background-position: right;
  transition: background-size 200ms ease-in-out 200ms;
  & span,
  h1 {
    font-family: var(--helloFont);
    text-align: center;
    font-size: clamp(1.6rem, 1.0355rem + 3.2258vw, 3.1rem);
    font-weight: 900;
    letter-spacing: -0.1rem;
    color: var(--helloColor);
    margin: 0;
  }
}

/*-------------intro-------------*/

#intro p {
  line-height: 1.4rem;
}

/*-------------skills-------------*/

.skill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 0.6rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill li {
  background: rgb(218, 232, 254);
  background: -moz-linear-gradient(var(--gradient)) center center;
  background: -webkit-linear-gradient(var(--gradient)) center center;
  background: linear-gradient(var(--gradient)) center center;
  background-size: 280%;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 100px;
  cursor: default;
}

/*-------------projects-------------*/
.projectsWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: calc(var(--boxBorderRadius) - 4px);
  box-sizing: border-box;
  height: clamp(17rem, 16.2473rem + 4.3011vw, 19rem);
  overflow: hidden;
  background: rgb(218, 232, 254);
  background: url(images/aquarius.svg) no-repeat, -moz-linear-gradient(var(--gradient));
  background: url(images/aquarius.svg) no-repeat, -webkit-linear-gradient(var(--gradient));
  background: url(images/aquarius.svg) no-repeat, linear-gradient(var(--gradient));
  background-size: cover, 200%;
  background-position: top 50px left 50px, center center;
  box-shadow: 0px 3px 9px -2px rgba(19, 19, 56, 0.06);
  transition: 200ms ease-out;
  border: 0.5px solid rgb(240, 240, 245);
}

.projectCard:hover {
  box-shadow: 0px 3px 12px -2px rgba(19, 19, 56, 0.12);
  background-position: top 50px left 80px, top;
}

.projectDescription {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1.3rem;
  width: 100%;
  min-height: 6.4rem;
  box-sizing: border-box;
  background: #fff;
}

/*-------------contact-------------*/

#contact {
  justify-content: space-between;
  gap: 2rem;

  & ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & li {
      border-bottom: 6px solid var(--linkUnderlineColor);
      width: fit-content;
    }
  }
}

/*-------------footer-------------*/

footer {
  justify-content: center;
  background-color: transparent;
  box-shadow: none;
  padding: 1rem 0;
  & span {
    text-align: left;
    user-select: none;
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
}

/*-------------others-------------*/

p::selection,
::selection,
span::selection,
a::selection {
  color: var(--globalFontColor);
  background-color: var(--selectionColor);
}

.notoEmoji {
  font-family: "Noto Emoji", sans-serif;
}

/*----------media queries----------*/

@media only screen and (min-width: 600px) {
  #hello {
    & span,
    h1 {
      text-align: left;
    }
  }

  #content {
    gap: 4rem;
    padding: 3rem 0;
  }
}

/*----------animations----------*/

@keyframes fadeSlideDown {
  0% {
    opacity: 0;
    transform: translateY(25px);
    filter: blur(2px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
    filter: blur(0px);
  }
}
