@import url("https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --globalFont: "Source Code Pro";
  --globalFontColor: #3f3f52;

  --helloFont: "Source Code Pro";
  --helloColor: #7b96c7;

  --logoFont: "Source Code Pro";
  --logoFontColor: #3f3f52dc;

  --boxBGColor: 255, 255, 255;
  --boxBorderRadius: 20px;

  --pageBGColor: #dcdee4;
  --navFontColor: #34384d;
  --selectionColor: rgba(242, 226, 229, 1);
  --linkUnderlineColor: rgb(230, 206, 210);
}

noscript {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1rem;
  color: var(--globalFontColor);
  margin: 0 1rem;
  padding: 2rem;
  pointer-events: none;
  user-select: none;
  max-width: 800px;
}

html {
  margin: 0 auto;
  height: fit-content;
  min-height: 100%;
  min-width: fit-content;
  background: #d6e4fc;
  background: repeat-y url(images/wave.svg) top left, -moz-linear-gradient(95deg, #d6e4fc 0%, #f2e2e5 100%);
  background: repeat-y url(images/wave.svg) top left, -webkit-linear-gradient(95deg, #d6e4fc 0%, #f2e2e5 100%);
  background: repeat-y url(images/wave.svg) top left, linear-gradient(95deg, #d6e4fc 0%, #f2e2e5 100%);
  scroll-behavior: smooth;
  background-size: 65%, 100%;
  background-attachment: fixed, fixed;
}

#content,
input,
textarea,
button,
p,
span {
  font-family: var(--globalFont);
  color: var(--globalFontColor);
  font-size: 0.9rem;
  font-weight: 400;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--globalFont);
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 3rem;
  margin: 0 auto;
  padding: 2rem 0;
  width: clamp(20rem, 90vw, 50rem);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#content > header,
section,
footer {
  opacity: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 1rem;
  padding: 2rem;
  border-radius: var(--boxBorderRadius);
  background-color: rgba(var(--boxBGColor), 0.8);
  box-shadow: 0px 4px 14px -8px rgba(28, 28, 77, 0.178);
}

/*-------------headings-------------*/
h2 {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 1.4rem;
  font-weight: 600;
}

h3 {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0;
}

/*-------------header-------------*/
#content #header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 1.4rem;
  border-radius: calc(var(--boxBorderRadius) - 4px);
  overflow: visible;
}

#logo {
  font-weight: 800;
  color: var(--logoFontColor);
  font-size: clamp(1rem, 0.8056rem + 1.1111vw, 1.5rem);
  user-select: none;
  font-family: var(--logoFont);
  padding: 0.5rem;
}

#hamburguer button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.5rem;
}

#overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  position: fixed;
  background-color: rgba(77, 83, 131, 0.541);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 1000;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: 250ms ease-in-out;
}

#navigationList {
  text-align: center;
  list-style: none;
  padding-inline-start: 0;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

#navigationList li {
  margin: 0;
  padding: 0;
}

#navigationList li a {
  display: block;
  color: var(--globalFontColor);
  padding: 1.1rem;
  width: 120px;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: calc(var(--boxBorderRadius) - 14px);
  background-color: rgba(var(--boxBGColor), 0.8);
  box-shadow: 0px 4px 12px -8px rgba(24, 24, 61, 0.575);
}

#navigationList li a:hover {
  background-color: rgba(var(--boxBGColor), 1);
}

a,
a:visited {
  color: var(--globalFontColor);
  text-decoration: none;
}

/*-------------hello-------------*/

#hello {
  padding: 0;
  box-shadow: none;
  background: transparent url(images/sparkles.svg);
  background-size: 0%;
  background-repeat: no-repeat;
  background-position: right;
  transition: background-size 200ms ease-in-out 200ms;
  & span,
  h1 {
    text-align: center;
    margin: 0;
    font-size: clamp(1.6rem, 1.2557rem + 1.9672vw, 3.1rem);
    font-weight: 900;
    color: var(--helloColor);
  }
}

.notoEmoji {
  font-family: "Noto Emoji", sans-serif;
}

/*-------------skills-------------*/

.skill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill li {
  background: rgb(218, 232, 254);
  background: -moz-linear-gradient(150deg, rgba(218, 232, 254, 1) 0%, rgba(242, 226, 229, 1) 100%) center center;
  background: -webkit-linear-gradient(150deg, rgba(218, 232, 254, 1) 0%, rgba(242, 226, 229, 1) 100%) center center;
  background: linear-gradient(150deg, rgba(218, 232, 254, 1) 0%, rgba(242, 226, 229, 1) 100%) center center;
  background-size: 220%;
  font-weight: 400;
  padding: 0.4rem;
  border-radius: 4px;
}

/*-------------projects-------------*/
.projectsWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 14px;
  box-sizing: border-box;
  height: clamp(17rem, 16.2473rem + 4.3011vw, 19rem);
  overflow: hidden;
  background: rgb(218, 232, 254);
  background: url(images/aquarius.svg) no-repeat, -moz-linear-gradient(110deg, rgba(218, 232, 254, 1) 0%, rgba(242, 226, 229, 1) 100%);
  background: url(images/aquarius.svg) no-repeat, -webkit-linear-gradient(110deg, rgba(218, 232, 254, 1) 0%, rgba(242, 226, 229, 1) 100%);
  background: url(images/aquarius.svg) no-repeat, linear-gradient(110deg, rgba(218, 232, 254, 1) 0%, rgba(242, 226, 229, 1) 100%);
  background-size: cover;
  background-position: top 50px left 50px, top;
  box-shadow: 0px 4px 10px -2px rgba(19, 19, 56, 0.06);
  transition: 200ms ease-out;
  border: 0.5px solid rgb(240, 240, 245);
}

.projectCard:hover {
  box-shadow: 0px 4px 13px -2px rgba(19, 19, 56, 0.14);
  background-position: top 50px left 80px, top;
}

.projectDescription {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1.3rem;
  width: 100%;
  min-height: 6.4rem;
  box-sizing: border-box;
  background: #fff;
}

/*-------------contact-------------*/

#contact {
  justify-content: space-between;
  gap: 2rem;

  & ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    & li {
      border-bottom: 2px solid var(--linkUnderlineColor);
      width: fit-content;
    }
  }
}

/*-------------footer-------------*/

footer {
  justify-content: center;
  background-color: transparent;
  box-shadow: none;
  padding: 1rem 0;
  & span {
    text-align: center;
    font-size: 0.9rem;
    user-select: none;
  }
}

/*-------------others-------------*/

p::selection,
::selection,
span::selection,
a::selection {
  color: var(--globalFontColor);
  background-color: var(--selectionColor);
}

.notoEmoji {
  font-family: "Noto Emoji", sans-serif;
}

/*----------media queries----------*/

@media only screen and (min-width: 600px) {
  #hello {
    & span,
    h1 {
      text-align: left;
    }
  }

  #content {
    gap: 4rem;
    padding: 3rem 0;
  }
}

@media only screen and (min-width: 2560px) {
  #content,
  input,
  textarea,
  button,
  p,
  span {
    font-family: var(--globalFont);
    color: var(--globalFontColor);
    font-size: 1rem;
    font-weight: 400;
  }
}

/*----------animations----------*/

@keyframes fadeSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    filter: blur(2px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
    filter: blur(0px);
  }
}

/*cristina/*coding<img src="images/cristinacodinglogo.svg" class="logo" alt="Cristina Coding Logo" title="Cristina Coding Logo">*/
